<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clone_project.demo.domain.member.mapper.MemberMapper">

    <!--  Member insert쿼리-->
    <insert id="save" parameterType="clone_project.demo.domain.member.dto.MemberDto">

        INSERT INTO member (name, email, password, role)
        VALUES (#{name}, #{email}, #{password}, "ROLE_MEMBER")
    </insert>

    <!--  Member find 쿼리-->
    <select id="findByEmail" parameterType="String"
            resultType="clone_project.demo.domain.member.entity.Member">
        SELECT * FROM member
        WHERE email = #{email}
    </select>

</mapper>